---
layout: default
---

<div class="row">
  <div class="col-sm-9 content" id="content">
    <div class="list-group" cate="All">
      {% for post in paginator.posts %}
      <a href="{{ post.url }}" class="list-group-item">
        <h4>{{ post.title }}</h4>
        <p><span class="glyphicon glyphicon-time text-date"></span> {{ post.date | date: "%Y-%m-%d %H:%M:%S" }}</p>
        <p>{{ post.excerpt | replace: '
', '' | replace: '<p>', '' | replace: '</p>', '' }}</p>
      </a>
      {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="text-center">
      <ul class="pagination">
        <li {% if paginator.previous_page == null %}class="disabled"{% endif %}><a href="{{ paginator.previous_page_path }}">PREV</a></li>

        {% assign start = paginator.page | minus: 6 | plus: 1 %}
        {% if start < 1 %}
          {% assign start = 1 %}
        {% endif %}
        {% assign interval = paginator.total_pages | minus: start %}
        {% if interval >= 10 %}
          {% assign interval = 9 %}
        {% endif %}
        {% assign end = start | plus: interval %}

        {% for page in (start..end) %}
          {% if page == 1 %}
        <li {% if page == paginator.page %}class="active active_clr1"{% endif %}><a href="{{ site.baseurl }}/">{{ page }}</a></li>
          {% else %}
        <li {% if page == paginator.page %}class="active active_clr1"{% endif %}><a href="/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        <li {% if paginator.next_page == null %}class="disabled"{% endif %}><a href="{{ paginator.next_page_path }}">NEXT</a></li>
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="col-sm-3 sidebar" id="sidebar">
  </div>
</div>
<script type="text/javascript">
  var data = {categories: [{ c_name: "ALL", c_posts: [], size: "{{ site.posts | size }}" }]};
  {% for category in site.categories %}
    category = { c_name: "{{ category[0] }}", c_posts: [], size: "{{ category[1] | size }}" };
    {% for post in category[1] %}
      category.c_posts.push(
        {
          title: "{{ post.title }}",
          url: "{{ post.url }}",
          date: "{{ post.date | date: "%Y-%m-%d %H:%M:%S" }}",
          excerpt: '{{ post.excerpt | replace: '
', '' | replace: '<p>', '' | replace: '</p>', '' | replace: '&gt;', '>' | replace: '&lt;', '<' }}',
          categories: "{{ post.categories }}"
        }
      );
    {% endfor %}
    data.categories.push(category);
  {% endfor %}
</script>
<script type="text/javascript" src="/build/articles.js"></script>
