<footer class="docs-footer">
  <div class="container">
      <ul class="docs-footer-links"> 
        <li><a href="{{ site.github_url }}">GitHub</a></li>
        <li>·</li>
        <li><a href="mailto:{{ site.email }}"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
        <li>·</li>
        <li><a href="../about/">About</a></li>
      </ul>
      <p>© 2016 {{ site.site_name }}. All rights reserved.</p>
  </div>
</footer>

<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/bootflat/js/icheck.min.js"></script>
<script type="text/javascript" src="/bootflat/js/jquery.fs.selecter.min.js"></script>
<script type="text/javascript" src="/bootflat/js/jquery.fs.stepper.min.js"></script>

<script type="text/javascript" src="/static/js/index.js"></script>