<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootflat/css/bootflat.min.css" rel="stylesheet">
  <link href="/static/css/mysite.css" rel="stylesheet">
  <link href="/static/css/highlight.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->
</head>