---
layout: default
---
<div class="row">
  <div class="col-sm-9 post">
    <div class="well">
      <div class="page-header">
        <h2>{{ page.title }}</h2>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>
      <article>
        {{content}}
      </article>
    </div>
  </div>

  <div class="col-sm-3 post-summary">
    <div class="categories-list-header">
      Content
    </div>
    <div class="summary"></div>
  </div>
</div>
